extend layout

block title
	| 500 Server Error

block content
	div.well
		p.lead 500 Server Error
		hr
		if error
			pre
				| #{error}
		hr
		a(href="/programs" class="btn btn-info")
			i.icon-refresh.icon-white
			|  Get back in there