!!!5
html
	head
		title
			block title
		link(rel="stylesheet", href="/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
		link(rel="stylesheet", href="/css/bootstrap-datetimepicker.min.css")
		link(rel="stylesheet", href="/css/main.css")
    
	body
		header
		.container
			block content
		footer
			.container
				hr
				div.text-right
					p.muted.text-right
						small
							| Björn Uppeke - 
							a(href="mailto:bjornuppeke@gmail.com")
								| bjornuppeke@gmail.com
		script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/bootstrap-datetimepicker.min.js")
		script(src="/js/main.js")
		