header {
	background-color: #333;
	height: 60px;
	margin: 0 0 20px 0;
}

.remove,
.abort {
	cursor: pointer;
}

.btn-inline {
	margin-left: 5px;
}

footer {
	margin: 0 0 20px 0;
}

footer hr {
	margin: 20px 0 5px 0;
}

footer p {
	margin: 0;	
}