extend ../layout

block title
	| Create a new program

block content
	div.well
		if success
			div.alert.alert-success
				button(type="button" class="close" data-dismiss="alert")
					&times;
				| #{success}
		p.lead
			| Create a new program
		hr
		form(action='/programs', method='POST')

			label(for='name', class='control-label') Name
			input(type='text', id="name", name='name', class="span6")

			label(for='url', class='control-label') URL
			input(type='hidden', id="url" name='url')
			p
				| /programs/<span id="url-info">...</span>

			label(for='leadtext', class='control-label') Lead Text
			textarea(type='text', rows="4", name='leadtext', class="span6")

			label(for='b-line', class='control-label') B-Line
			input(type='text', name='b-line', class="span6")

			label(for='synopsis', class='control-label') Synopsis
			textArea(type='text', rows="4", name='synopsis', class="span6")

			label(for='start_time', class='control-label') Start Time
			input(type='text', name='start_time', class="span6", value="2013-10-01T12:00:00Z")
			hr
			div.controls-group		
				button(type="submit" class="btn btn-info")
					i.icon-file.icon-white
					|  Save Program
				a(href="/programs" class="btn btn-inline")
					i.icon-list
					|  Back to the list